* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    color: #555;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba( 0, 0, 0, 0.70), rgba( 0, 0, 0, 0.70)), url(img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 240%;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
    color: #fff;
}

.btn:link,
.btn:visited {
    padding: 10px 30px;
    border-radius: 200px;
    display: inline-block;
    border: 1px solid #e67e22;
    text-decoration: none;
    font-weight: 300;
    transition: background-color 0.4s, color 0.3s, border-color 0.3s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
    margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

.btn:active,
.btn:hover {
    border-color: #bf6516;
    background-color: #bf6516;
    color: #fff;
}
