/* --------------------------------------
    BASIC SETUP
-----------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    color: #555;
    text-rendering: optimizeLegibility;
}


a {
    text-decoration: none;
}


/* --------------------------------------
    HEADER
-----------------------------------------*/

header {
    background-image: linear-gradient(rgba( 0, 0, 0, 0.70), rgba( 0, 0, 0, 0.70)), url(../img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* --------------------------------------
    REUSABLE COMPONENT
-----------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/*-----HEADINGS-----*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 20px;
    font-size: 240%;
    letter-spacing: 1px;
    color: #fff;
    word-spacing: 4px;

}

h2 {
    letter-spacing: 1px;
    margin-bottom: 30px;
    word-spacing: 2px;
    text-align: center;
    font-size: 180%;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    margin: 0 auto;
    content: " ";
    width: 100px;
    margin-top: 30px;

}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*-----PARAGRAPHS-----*/

.long-copy {
    text-align: center;
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}


/*-----ICONS-----*/

.big-icon {
    display: block;
    color: #e67e22;
    font-size: 350%;
    margin-bottom: 15px;
}

/*-----BUTTONS-----*/

.btn:link,
.btn:visited {
    padding: 10px 30px;
    border-radius: 200px;
    display: inline-block;
    border: 1px solid #e67e22;
    font-weight: 300;
    transition: background-color 0.4s, color 0.3s, border-color 0.3s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
    margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

.btn:active,
.btn:hover {
    border-color: #bf6516;
    background-color: #bf6516;
    color: #fff;
}


/*-----NAV-----*/

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    margin-top: 60px;
    list-style: none;
    float: right;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav a:link,
.main-nav a:visited {
    padding: 8px 0;
    font-size: 90%;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
    border-bottom: 2px solid #e67e22;
}


/* --------------------------------------
     MEALS
-----------------------------------------*/

.meals-row {
    list-style: none;
    width: 100%;
}

.meals-row li {
    display: block;
    width: 25%;
    float: left;
}

.meal-photo {
    width: 100%;
    margin: 0;
}

.meal-photo img {
    height: auto;
    width: 100%;
}
